/*CSS de la 2nd partie de la deuxieme page du site */

.otherpages {
  display:  grid;
  grid-gap: 15px;
  grid-template-columns: 2fr 2fr;
}

.otherpage {
  padding: 12px;
  background-color:  #A29161;
  border-radius:  4px;
  box-shadow: 1px 2px 7px 2px rgb(0 0 0 / 30%);
  text-align: center;
  margin: 20px 0;
}

.otherpage img{
  width: 380px;
  height:  360px;
  object-fit: cover;
}

.otherpage h3{
  font-size: 22px;
}

.otherpage h2{
  font-size: 25px;
  border-radius: 4px; 
  text-shadow: 1px 1px 1px #000000a6;
  box-shadow: 2px 2px 5px 2px rgb(0 0 0 / 30%);
}